	<div class="clearSpace10"></div>

      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="form-group">
              <label class="col-xs-4">Policy Type</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" id="polType_POLICY_TYPE">
              </div>
            </div>
          </div>
          <div class="clearSpace10"></div>

        </div>

        <div class="col-xs-6"></div>
    </div>